<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Chart.js - criando gráficos com a biblioteca Chart.js</title>

    <script src="/static/js/Chart.min.js"></script>
    <link rel="stylesheet" href="/static/css/estiloGrafico.css" media="screen" title="no title" charset="utf-8">



    <script type="text/javascript">
        var randomnb = function(){ return Math.round(Math.random()*1300)};
    </script>

</head>

<body>

    <div class="box">

        <h1>Chart.js - criando gráficos com a biblioteca Chart.js</h1>


        <h2>Gráfico Barra</h2>

        <div class="box-chart">

            <canvas id="GraficoBarra" style="width:100%;"></canvas>

            <script type="text/javascript">

                var options = {
                    responsive:true
                };

                var data = {
                    labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio"],
                    datasets: [
                        {
                            label: "Dados primários",
                            fillColor: "rgba(128,0,128,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: [ randomnb(), randomnb(), randomnb(), randomnb(), randomnb()]
                        },

                    ]
                };

                window.onload = function(){
                    var ctx = document.getElementById("GraficoBarra").getContext("2d");
                    var BarChart = new Chart(ctx).Bar(data, options);
                }
            </script>

            <a href="javascript:window.history.go(-1)">Voltar</a>

        </div>

    </div>
</body>

</html>
