
{% extends 'grafico/base.html' %}
      {% block content %}
      <div class="index">
<h1>Envie o arquivo a ser analisado:</h1>

<form  action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
{{form.as_p}}
<button type="submit">Gerar gráfico</button>
</form>


        <!-- aqui tenho que criar ou chamar o forms.py para criar
        o input para upar o arquivo para leitura dos dados e tbm um botão para
      chamar o template que conterá a função javascript  -->

      </div>


        {% endblock content %}
